
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    flex-direction: row;
}
div {
    width: 100%;
    background-color: aquamarine;
    padding: 10px;
}
#moo2 {
    background-color: greenyellow;
}
img {
    width: 100%;
}
